# Day 06
Basic Data Structures

### List / Tuple / Set / Dictionaries

In [9]:
# List
list = [10, 20, 30]
# Sequence Type
# Sortable
list

[10, 20, 30]

In [8]:
# Tuple
tuple = (10, 'Micheal')
# Immutable (can't add/change)
# Faster than lists
tuple

(10, 'Micheal')

In [6]:
# Set
set = {'Smith', 10, 30, 22}
# Non-duplicate items
# Unordered
set

{10, 22, 30, 'Smith'}

In [10]:
# Dictionary
dict = {'Mihael': 10, 'John': 20, 'Anne': 30}
# Key/Value pairs
# Associative array
# Unordered
dict

{'Mihael': 10, 'John': 20, 'Anne': 30}

### Sequences
String / List / Tuple

In [15]:
# Indexing
animal = 'horse'
print(animal[3])

s

In [21]:
# Slicing
print(animal[1:])

orse

In [29]:
# Adding / Concatenating / Multiplying
names = ['Mike', 'John', 'Scott', 'Matt']
names += ['Anne']
names

['Mike', 'John', 'Scott', 'Matt', 'Anne']

In [32]:
# Checking membership
print('Mike' in names)
print('MM' in names)

True
False

In [33]:
# Iterating
for name in names:
    print(name)

Mike
John
Scott
Matt
Anne

In [34]:
# Number of items
len(names)

5

In [36]:
# Minimum and maximum number
min(names)
max(names)

'Scott'

In [39]:
# Sum
nums = [10,20,30,44,23]
sum(nums)

127

In [40]:
# Sorting
sorted(names)

['Anne', 'John', 'Matt', 'Mike', 'Scott']

In [44]:
# Counting
names.count('Anne')

1

In [45]:
# Index 
names.index('Anne')

4

In [48]:
# Unpacking
a, b, c, d, e = names
print(a, b, c)

Mike John Scott

### Constructors
Lists

In [49]:
grades = [3, 5, 7, 1, 6, 10]

In [78]:
# List Comprehension
decimal_grades = [m * 10 for m in grades if m // 5]
decimal_grades

[50, 70, 60, 100]

In [79]:
# Delete
del(decimal_grades[1])
print(decimal_grades)

[50, 60, 100]

In [80]:
# Append
decimal_grades.append(44)
decimal_grades

[50, 60, 100, 44]

In [81]:
# Extend (combine)
decimal_grades.extend([23, 33, 12])
decimal_grades

[50, 60, 100, 44, 23, 33, 12]

In [83]:
# Insert
decimal_grades.insert(0, 7)
decimal_grades

[7, 7, 50, 60, 100, 44, 23, 33, 12]

In [84]:
# pop
decimal_grades.pop()

12

In [85]:
# remove
decimal_grades.remove(7)

In [86]:
# reverse
decimal_grades.reverse()
decimal_grades

[33, 23, 44, 100, 60, 50, 7]

In [87]:
# sort
decimal_grades.sort()
decimal_grades

[7, 23, 33, 44, 50, 60, 100]