# Day 19 Map, Filter, Reduce functions
Applied to lists, analysing, filtering, combining. Streamline such tasks

### Map Function

In [1]:
# map function
import math

def area(r):
    '''Area of a circle with radius <r>.'''
    return math.pi * (r**2)

radii = [2, 5, 6, 7, 8, 1.3]

In [7]:
# 1
# Direct method
areas = []

for r in radii:
    a = area(r)
    areas.append(a)

print(areas)

# 2
# Using map function
# Will generate an iterator
map(area, radii)
list(map(area, radii))

[12.566370614359172, 78.53981633974483, 113.09733552923255, 153.93804002589985, 201.06192982974676, 5.3092915845667505]

[12.566370614359172,
 78.53981633974483,
 113.09733552923255,
 153.93804002589985,
 201.06192982974676,
 5.3092915845667505]

In [9]:
# How it works
# Data collection (a1,a2,...)
# Function, that we would like to apply to each piece of data
# map(function, data):
# Returns iterator over
# f(a1), f(a2),...

In [19]:
# Example
temps = [('Berlin', 29), ('Cairo', 36), ('Buenos Aires', 19), ('Loas Angeles', 26), ('Tokyo', 27)]

# convertor function with lambda
# celsius to fahrenheit : 9/5 * celsius + 32
to_fahrenheit = lambda data: (data[0], data[1] * 1.8 + 32)
print(list(map(to_fahrenheit, temps)))

# convert to fahrenheit
def convert(temp):
    return (temp[0], (9/5) * temp[1] + 32)

fahrenheit = map(convert, temps)
list(fahrenheit)

[('Berlin', 84.2), ('Cairo', 96.8), ('Buenos Aires', 66.2), ('Loas Angeles', 78.80000000000001), ('Tokyo', 80.6)]

[('Berlin', 84.2),
 ('Cairo', 96.8),
 ('Buenos Aires', 66.2),
 ('Loas Angeles', 78.80000000000001),
 ('Tokyo', 80.6)]

### Filter function
Selecting certain pieces of data

In [21]:
import statistics

data = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]
average = statistics.mean(data)

average

2.183333333333333

In [25]:
# using filter to select data greater than the average
filter(lambda x: x > average, data)

[2.7, 4.1, 4.3]

In [26]:
list(filter(lambda x: x > average, data))

[2.7, 4.1, 4.3]

In [27]:
list(filter(lambda x: x < average, data))

[1.3, 0.8, -0.1]

In [32]:
# Remove missing data
countries = ['', 'Argentina', 'Brazil', '', '',   'Chile', '',  'Colombia']

# removing empty strings
list(filter(lambda x: x != '', countries))

# or...
list(filter(None, countries))

['Argentina', 'Brazil', 'Chile', 'Colombia']

### Reduce function
Unusual, was demoted to functools as it is easier to use a for loops

In [34]:
from functools import reduce

# multiply all numbers in a list
data = [2, 3, 5, 6, 7, 3, 10, 23, 45]
multiplier = lambda x, y: x * y

reduce(multiplier, data)

39123000

In [35]:
# using a for loop
product = 1
for x in data:
    product *= x

product

39123000