# 100 Days of Code
Or how I've started some of my first digital projects.

## Roadmap Guidelines
https://www.youtube.com/watch?v=p15xzjzR9j0

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [49]:
random_num = np.random.rand(5,10)

In [50]:
random_num.shape
df = pd.DataFrame(random_num)
df

,0,1,2,3,4,5,6,7,8,9
0,0.587638,0.110975,0.378866,0.127153,0.223631,0.859548,0.063478,0.484358,0.981887,0.031784
1,0.329402,0.201843,0.109949,0.881296,0.054190,0.597520,0.517938,0.702879,0.134526,0.291544
2,0.908967,0.143828,0.196208,0.670512,0.235242,0.572297,0.646947,0.530222,0.773874,0.830834
3,0.477100,0.996575,0.546209,0.841618,0.764976,0.658438,0.405162,0.853703,0.206108,0.351393
4,0.266431,0.566146,0.291010,0.919879,0.809144,0.539859,0.505544,0.082464,0.244231,0.017228